*{
    outline: 0px solid red !important;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.description {
    max-width: 20%;
    font-family: Bookman Old Style;
    font-weight: bold;
    font-size: 150%;
    margin: 5px;
    color: blue;
    text-align: center;
}
.screenshot {
    max-width: 80%;
    margin: 5px;
    padding: 20px;
    background-color: grey;
}
.app {
    display: flex;
    display: -webkit-flex;
}
.title {
    background-color: rgb(47, 190, 189);
    color: white;
    font-size: 48px;
    font-family: Helvetica;
    text-align: center;
    padding: 20px;
    margin: 0;
}